#root{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
.Contador{
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 15px;
  background-color: rgb(3, 197, 29);
}
.Valor{
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.Botonera{
  display: flex;
  flex-direction: row;
}
.Boton{
  padding: 10px 15px;
  width: 30px;
  margin: 10px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
}